@page
@model Marketplace_Web.Pages.IndexModel
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
		<link  rel="stylesheet" href="css/bootstrap.min.css"/>
		<link  rel="stylesheet" href="css/slick.css"/>
		<link  rel="stylesheet" href="css/slick-theme.css"/>
		<link  rel="stylesheet" href="css/nouislider.min.css"/>
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link  rel="stylesheet" href="css/style.css"/>
		<link rel="stylesheet" href="css/site.css" />

    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
					</ul>
				@{
					
					var isAuthenticated = false;
					var user = UserSessions.GetUser(HttpContext.Session);
					if (user!= null)
						if (user.FirstName!= null)
							isAuthenticated = true;

				}

				<ul class="header-links pull-right">
    
    @if (isAuthenticated)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user-o"></i> @user.FirstName <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="background: black;"> <!-- Добавляем стиль color: black; -->
                <li><a href="/Profile"><i class="fa fa-user"></i> Профиль</a></li>
                <li><a href="/MyProducts"><i class="fa fa-shopping-bag"></i> Мои продукты</a></li>
				<li><a href="/Index?handler=Logout&returnUrl=@HttpContext.Request.Path"><i class="fa fa-sign-out"></i> Выход</a></li>
								@{
									var role = HttpContext.Session.GetInt32("RoleId");
								}
								@switch (role)
								{
									case 2:
										<li><a href="/Moderator"><i class="fa fa-sign-out"></i> Moder Page</a></li>
										break;
									case 3:
										<li><a href="/Admin"><i class="fa fa-sign-out"></i> Admin Page</a></li>
										break;
									case 4:
										<li><a href="/Director"><i class="fa fa-sign-out"></i> Director Page</a></li>
										break;
								}
								
            </ul>
        </li>
    }
    else
    {
        <li><a href="/Login"><i class="fa fa-user-o"></i> Login</a></li>
    }
	</ul>



				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="./Index" class="logo">
									<img src="./img/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
						<div class="header-search">
							<form method="post" asp-page="/ProductSearch">
								<select class="input-select" name="categoryId">
									<option value="0">Категория</option>
									@foreach (var category in IndexModel.Categories)
									{
										<option value="@category.CategoryId">@category.Name</option>
									}
								</select>
								<input class="input" name="searchTerm" placeholder="Search here">
								<button type="submit" class="search-btn">Search</button>
							</form>
						</div>

						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Cart -->
							<div>
								<a href="/Cart?action=load">
									<i class="fa fa-shopping-cart"></i>
									<span>Cart</span>
									
								</a>
								</div>
								<!-- /cart -->

								

								<!-- Menu Toogle -->
								
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
					
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img id="laptopImage" src="./img/shop01.png" alt="">
							@{
								int laptopId = 6; // Укажите нужное значение категории
							}

						</div>
						<div class="shop-body">
							<h3>Laptops<br>Collection</h3>
							<a asp-page="/ProductSearch" asp-route-Category="@laptopId">
								<img id="laptopImage" src="./img/shop01.png" alt="">
							</a>
						</div>
					</div>
				</div>
				<!-- /shop -->
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
							<img id="accessImage" src="./img/shop03.png" alt="">
							@{
								int accessId = 7; // Укажите нужное значение категории
							}

							</div>
							<div class="shop-body">
								<h3>Accessories<br>Collection</h3>
							<a asp-page="/ProductSearch" asp-route-Category="@accessId">
								<img id="laptopImage" src="./img/shop03.png" alt="">
							</a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img id="cameraImage" src="./img/shop02.png" alt="">
							@{
								int cameraId = 8; // Укажите нужное значение категории
							}

						</div>
						<div class="shop-body">
							<h3>Cameras<br>Collection</h3>
							<a asp-page="/ProductSearch" asp-route-Category="@cameraId">
								<img id="laptopImage" src="./img/shop02.png" alt="">
							</a>
						</div>
					</div>
				</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
		<div class="container">

			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								@foreach (var product in IndexModel.Products)
								{
									<div class="product">
										<a href="/ProductInfo/@product.ProductId" class="product-link">
											<div class="product-img">
												<img src="@product.ImageUrl" alt="@product.Name" height="200" width="200">
												<div class="product-label">
													<span class="new">NEW</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">@product.Categories.First().Name</p>
												<h3 class="product-name">@product.Name</h3>
												<h4 class="product-price">$@product.Price</h4>
											</div>
										</a>
									</div>
								}
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>

		</div>
		</div>
		<!-- /SECTION -->

		<!-- HOT DEAL SECTION -->
		

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
						<form method="post" asp-page-handler="Subscribe">
							<div class="form-group">
								<label for="email">Email:</label>
								<input class="input" type="email" id="email" name="email" placeholder="Enter Your Email" required>
							</div>
							<button type="submit" class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
						</form>
							<ul class="newsletter-follow">
								<li>
								<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
								<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
								<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
								<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About Us</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
								<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
								<li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Orders and Returns</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Service</h3>
								<ul class="footer-links">
								<li><a href="#">Help</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
							<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
							<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
							<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
